@model IEnumerable<PictureShare.Models.PictureModel>

@{
    ViewData["Title"] = "Index";
}




<div class="container-fluid">
    <div class="row px-4">
        <form method="get">
            <div class="col-12 mt-4">
                <div class="input-group mx-auto">
                    <input type="text" name="SearchBy" class="form-control" placeholder="Search Public Images" aria-label="Search" aria-describedby="btn-search">
                    <button class="btn btn-dark" type="submit" id="btn-search"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </form>

    </div>


    <div class="row">

        @foreach (var picture in Model)
        {
            <div class="col-md-4">
                @*<a asp-action="Details" asp-route-id="@picture.Id">*@
                    <div class="item">
                        <div class="polaroid">
                            <a asp-action="Delete" asp-route-id="@picture.Id"><i class="bi bi-x text-dark"></i></a>
                            <img src="@picture.ImagePath">
                            <div class="caption">@picture.Caption <a asp-action="Edit" asp-route-id="@picture.Id"><i class="bi bi-pencil-square text-dark"></i></a> </div>

                        </div>
                    </div>
                @*</a> |*@
            </div>
        }

    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>